.tableView {
    max-height: calc(100vh - 225px);
    scrollbar-width: none;
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, 0.5);
    box-shadow: 0px 0px 100px 20px rgba(6, 0, 111, 0.8);
   
}

.tableBody {
    overflow: scroll; 
    border-bottom: 5px double rgb(112, 112, 112);
}
table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(8px);
    z-index: 1;
}
input[type="checkbox"] {
    position: relative;
}